#opciones {
  font-family: "Rubik", sans-serif;
  color: white;
  align-items: center;
  background: linear-gradient(45deg, #00204a 45%, #fff 98%);
}

#alumno {
  width: 4em;
  margin: 0.5em 0.7em;
  height: 4em;
  background: white;
  border-radius: 50%;
}
#alumno > img {
  margin: 0.8em 0.5em;
  display: block;
}
#opciones :nth-child(3) {
  margin-left: auto;
}
#opciones select {
  margin-right: 0rem;
  height: 2em;
  margin-right: 0.8em;
}

nav {
  background: linear-gradient(45deg, #00204a 45%, #fff 98%);
  color: #fdb44b;
  top: 0;
  height: 3em;
  text-align: center;
  vertical-align: text-top;
}

nav:first-child {
  padding-top: 1em;
}
nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  color: #999999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

nav a:nth-child(2n) {
  background-color: #00204a;
  border-radius: 20px 20px 0 0;
}

nav a:nth-child(2n + 1) {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}
nav a img {
  float: left;
  padding-right: 0.1em;
}
nav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #888;
  color: #fdb44b;
}

nav a:nth-child(2n):hover {
  text-decoration: none;
  color: #fff;
  background-color: #888;
  color: #fdb44b;
}
