.FRow {
  display: flex;
  flex-direction: row;
}

.FColumn {
  display: flex;
  flex-direction: column;
}

.JC-SpaceAround {
  justify-content: space-around;
}

.JCFlexStart {
  justify-content: flex-start;
}

.FPositionSticky {
  position: sticky;
}

body {
  margin: 0;
  background-color: #fff;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

main {
  background-color: #fff;
  flex: 1;
}
main article:first-child {
  flex: 1;
  font-size: 1.2em;
}
main article:nth-child(2) {
  flex: 0.3;
}

section h1 {
  font-size: 2em;
  margin-left: 1em;
  color: #005792;
}
#accesos {
  margin-left: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.accesoContenido {
  margin: 0.9em;
}
.accesoContenido:nth-child(2n) > :first-child {
  background-color: #005792;
  padding: 0.5em;
  color: #fdb44b;
  font-weight: bold;
  font-size: 1.5em;
}
.accesoContenido:nth-child(2n + 1) > :first-child {
  background-color: #fdb44b;
  padding: 1em;
  color: #005792;
  font-weight: bold;
}

.accesoContenido > :last-child {
  background-color: #eee;
  padding: 1em;
}
.accesoContenido > :last-child > a {
  text-decoration: none;
  padding: 0.2em;
  display: block;
}
#contenedorAgenda {
  background-color: #eee;
  margin: 1em;
}

table {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #888;
}
thead th[colspan="5"] {
  text-align: center;
  color: #005792;
  font-size: 1.5em;
}
thead td:first-child {
  text-align: left;
}
thead td:last-child {
  text-align: right;
}

table div {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.2em;
  background: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: bottom;
}
table td {
  padding: 0.1em;
}

#contenedorEventos {
  background-color: #eee;
  margin: 1em;
  height: 100vh;
}
.eventosDia {
  margin: 0.3em 1em;
  padding: 0.4em 0 0 0;
}
.eventosDia > h1 {
  color: #00204a;
  margin-left: 0.3em;
}
.evento > h2 {
  color: #005792;
  font-size: 1.2em;
}
.evento > img {
  float: left;
  margin-right: 0.4em;
}
.evento > p {
  font-size: 1em;
  color: black;
  margin: 0.5em 0 0 0;
}

#detalleDia {
  position: absolute;
  background-color: #eee;
  width: 35em;
  height: 25em;
  top: 35%;
  left: 25%;
  border-bottom: 4px solid #00204a;
  border-left: 4px solid #00204a;
  border-right: 4px solid #00204a;
  display: none;
  box-shadow: 15px 10px 3px #00204a;
}
#detalleDia > div:first-child {
  text-align: right;
  background-color: #00204a;
  padding: 0.3em 0em;
}

#noticies {
  background-color: #eee;
  margin-left: 1em;
  padding: 1em;
  align-items: center;
}

.noticia {
  background-color: #fdb44b;
  padding: 0.4em;
  width: 15em;
  height: 21em;
  min-height: 21em;
  max-height: 21em;
  position: relative;
}
.noticia h4 {
  margin: 0;
  padding: 0.5em 0 0 0;
}

.noticia > p {
  text-align: justify;
  padding: 0.3em;
}
.noticia > p:last-child {
  margin: 0.4em;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer {
  background: linear-gradient(45deg, #00204a 45%, #fff 98%);
  font-family: "Rubik", sans-serif;
  color: white;
  padding: 2em;
}
